/* GENERAL */
body {
  color: #fff;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

ul {
  margin: 0; padding: 0;
}

li {
  list-style: none;
  display: inline-block;
}


/* UTILITIES */
.blue {
  background: #00334d;
}

.green {
  background: #00cc99;
}

.relative {
  position: relative;
}

/* UTILITIES: Star icon */
.star-box {
  height: 50px;
  padding: 20px;
  text-align: center;
}

.icon-lines {
  position: relative;
  margin: 0 auto;
  width: 350px;
  border-top: 4px solid #fff;
  border-bottom: 4px solid #fff;;
  border-radius: 8px;
}

.fas.fa-star {
  position: absolute;
  font-size: 300%;
  padding: 0 10px;
  transform: translate(-50%, -50%);
  background: #00cc99;
}


/* HEADER */
header {
  position: fixed;
  top: 0%;
  height: 66px;
  width: 100%;
  padding-top: 5px;
  z-index: 1;
}

.navbar-header h4 {
  line-height: 200%;
  font-weight: 600;
  padding-left: 10px;
}

header button.navbar-toggle {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.nav > li > a:focus,
.nav > li > a:hover {
  background-color: #00334d;
  opacity: 0.5;
}


header .icon-bar {
  background: gray;
}


/* JUMBOTRON */
.jumbotron {
  margin-top: 66px;
}


/* PORTOFOLIO */
#portfolio {
  margin-bottom: 25px;
}

#portfolio .icon-lines {
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
}

#portfolio .fas.fa-star {
  background-color: #fff;
  color: #000;
}

#portfolio .row h1,
#portfolio .row:first-child i {
  color: #000;
}

/* Portfoglio: ROW-IMG */
.row-img > * {
  padding: 15px;
}

.row-img .box {
  width: 100%;
  height: 100%;
}

.row-img .hover-effect {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.row-img .fas.fa-plus {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 500%;
  color: rgba(0, 0, 0, 0);
}

.row-img .hover-effect:hover {
  background-color: rgba(0, 204, 153, 0.8);
}
.row-img .hover-effect:hover .fas.fa-plus {
  color: #fff;
}


/* ABOUT */
#about {
  padding: 20px 0 0px;
}

#about .row {
  margin-bottom: 25px;
}

#about-third-row > * {
  line-height: 150%;
  font-size: 18px;
}
#about-third-row > * p {
  padding-right: 10px;
}

#about-button-row .col-lg-12 {
  padding: 25px 0;
}

#about-button-row .col-lg-12 button {
  background-color: inherit;
  color: inherit;
  font-size: 18px;
}

#about-button-row .col-lg-12 button i {
  padding-right: 10px;

}


/* CONTACT */
#contact {
  color: #000;
  padding: 40px 0;
}

#contact .icon-lines {
  border-top: 4px solid #000;
  border-bottom: 4px solid #000;
}

#contact .fas.fa-star {
  background-color: #fff;
}

.row.input-row {
  margin: 35px 0px 105px;
}

#contact .contact-input {
  margin-bottom: 25px;
}

#contact .contact-input * {
  padding-bottom: 20px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid gray;
  box-shadow: none;
}

#contact .contact-input *::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}

#contact .contact-input *::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}

#contact .btn.btn-success {
  position: absolute;
  margin: 15px;
  padding: 15px;
  left: 15px;
  font-size: 18px;
}


/* FOOTER  */
footer {
  background-color: #006666;
}

/* Footer: AROUND-WEB */
#around-web {
  padding: 25px 0;
}

#around-web .col-lg-4 {
  padding-bottom: 25px;
}

#around-web p {
  margin: 0 auto;
  width: 200px;
}

#around-web p a {
  color: #00cc99;
}

#around-web p a:hover {
  opacity: 0.5;
}

#around-web .social-row i {
  margin: 0 5px;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  line-height: 337%;
}

#around-web .social-row i:hover {
  background: #fff;
  color: #006666;
}

/* About: SECOND ROW */
#input-row .input-group .col-lg-8 .form-control {
  width: 780px;
}

/* Footer: MAIN FOOTER */
#main-footer {
  padding: 15px;
  font-size: 10px;
}



/* RESPONSIVE */
@media screen and (min-width: 992px) {

  #about-third-row > .col-lg-4:last-child {
    padding-left: 0;
  }
}


@media screen and (max-width: 991px) {
  #about-third-row > .col-lg-4 p {
    margin: 0 auto;
    width: 600px;
    max-width: 80%;
  }

  #about-third-row > .col-lg-4 p:first-child {
    margin-bottom: 25px;
  }

  #about-button-row .col-lg-12 {
    padding: 0;
    margin: 0;
  }
}
